.challenge {
  // height: 80vh;
  // position: static !important;
  // z-index: 10;
  // width: 100vh;
  .challenge-inner {
    width: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    // position: relative;
    @media (max-width: $desktop) {
      height: 70vh;
    }

    .content-inner {
      @media (max-width: $widescreen) {
        font-size: 3.1rem;
        line-height: 1rem;
      }
      .challenge-content {
        overflow: hidden;
        // height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        p {
          color: #172548;
          font-weight: 300;
          font-size: 1.3rem;
          margin: 0;
          line-height: 1.9rem;
          flex: 1;
          display: flex;
          align-content: center;
          align-items: center;
          max-width: 800px;
          padding-left: 2em;
        }
        div.image {
          flex: 1;
        }
      }
    }
  }
}
