.patners {
  //   padding: 2em;
  display: flex;
  flex-direction: column;
  background-image: url("/back.svg");
  font-size: 1.6em;
  color: #374775;
  min-width: 100vw;

  @media only screen and (max-width: $tablet) {
    min-width: 100vw;
  }

  .meet-patners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1.8em;
      margin-left: 0.6em;
    }
    @media only screen and (max-width: $tablet) {
      text-align: center;
      width: 100vh;
    }
  
  }
  .patner-logos {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 3em;
    justify-content: center;
    align-items: center;
    @media only screen and(max-width:1024px) {
        margin: 0;
        justify-content: flex-start;
    }
    img {
      margin: 3em;
    }
    @media only screen and(max-width:1024px) {
      img {
        // margin-left: 1em;
        margin-top: 1.6em;
      }
    }
  }
}
