.solution {
  // height: 80vh;
  position: relative;
  // margin-top: 100px;
  z-index: 10;
  @media (max-width: $widescreen) {
    // height: 90vh;
  }
  .solution-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("/back.svg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .solution-inner {
    width: 100%;
    // height: 80vh;
    display: flex;
    position: relative;
    @media (max-width: $widescreen) {
      // height: 90vh;
    }
    .content {
      // width: 50%;
      // height: 100%;
      display: flex;
      align-items: center;

      .content-inner {
        @media (max-width: $widescreen) {
          font-size: 3.1rem;
          line-height: 1rem;
        }
        .solution-content {
          overflow: hidden;
          display: flex;
          position: relative;
          flex-direction: row;
          @media only screen and(max-width:820px) {
            flex-direction: column;
          }

          .content-paragraph {
            color: #172548;
            font-weight: 300;
            font-size: 1.3rem;
            margin: 0;
            line-height: 1.9rem;
            flex: 1;
            justify-content: center;
            display: flex;
            align-items: center;
            @media only screen and(max-width:820px) {
              margin-top: 200px;
            }
          }
          img {
            flex: 1;
          }
        }
      }
    }
  }
}
