.strategies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f6f5f7;
  .timeline-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    position: relative;
    .timeline-item {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      margin: 10px -10px;
      width: 50%;
      .timeline-item-content {
        max-width: 70%;
        .tag {
          border-radius: 8px;
          padding: 0px 4px;
        }
        .text {
          color: #172548;
          font-weight: 300;
          font-size: 1.3rem;
          margin: 0;
          line-height: 1.9rem;
        }
      }
    }
    .timeline-item:nth-child(odd) {
      align-self: flex-end;
      justify-content: flex-start;
      padding-right: 0px;
      padding-left: 30px;
    }
  }
  .timeline-container::after {
    background-color: #e17b77;
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
  }
}
