.strategies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f6f5f7;
  
  .strategic-components{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #233567;
  }
  .timeline-container {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: 40px 0;
    position: relative;
    .timeline-item {
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      margin: 10px -28px;
      width: 50%;
      .timeline-item-content {
        max-width: 80%;
        position: relative;
        // width: 400px;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        padding: 15px;
        text-align: right;
        .tag {
          border-radius: 8px;
          padding: 0px 4px;
        }
        .text {
          color: #172548;
          font-weight: 300;
          font-size: 1.3rem;
          // margin: 15px 0;
          line-height: 1.9rem;
          // max-width: 250px;
        }
      }
      .timeline-item-content::after {
        content: " ";
        width: 15px;
        height: 15px;
        background-color: #fff;
        right: -7.5px;
        top: calc(50% - 7.5px);
        transform: rotate(45deg);
        position: absolute;
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
      }
      .timeline-item-content .tag {
        color: #fff;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.02em;
      }
      .timeline-item-content .component {
        color: #0d2484;
        font-size: 20px;
        // position: absolute;
        margin: 5px 5px;
        // top: 4px;
      }
      .timeline-item-content .circle {
        background-color: #fff;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 10px);
        right: -41px;
        z-index: 4;
        border: 3px solid #e17b77;
      }
    }
    .timeline-item:nth-child(odd) .timeline-item-content .circle {
      right: auto;
      left: -41px;
      color: white;
    }
    .timeline-item:nth-child(odd) {
      align-self: flex-end;
      justify-content: flex-start;
      padding-right: 0px;
      // padding-left: 0px;
    }
    .timeline-item:nth-child(odd) .timeline-item-content {
      align-items: flex-start;
      text-align: left;
    }
    .timeline-item:nth-child(odd) .timeline-item-content .tag {
      left: auto;
      right: 5px;
    }
    .timeline-item:nth-child(odd) .timeline-item-content::after {
      right: auto;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
      left: -7.5px;
    }
  }
  .timeline-container::after {
    background-color: #e17b77;
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
  }
}
@media only screen and (max-width: 820px) {
  .strategies {
    width: 100vh;
  }
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    // padding: 15px 10px;
    text-align: center;
    align-items: center;
  }
  .timeline-item-content .tag {
    width: calc(100% - 18px);
    .tag-content {
      display: flex;
      justify-content: center;
    }
  }
}
